.page-container {
  display: table;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  .users-list, .users-captions, .users-search {
    display: table-row;
    & > * {
      display: table-cell;
      padding: 0.2rem 0.3rem;
      vertical-align: baseline;
      border: 1px solid #cccccc;
      input {
        box-sizing: border-box;
        width: 100%;
      }
    }
  }
  .users-captions > * {
    > span, > a.active {
      font-weight: bold;
    }
    > span::after {
      content: ": ";
    }
    > span:last-child::after {
      content: "";
    }
  }
  dt {
    font-weight: bold;
  }
  .users-list dt {
    display: none;
    text-align: right;
    &::after {
      content: ": ";
    }
  }
  .user-body {
    display: grid;
    grid-template-columns: auto 1fr;
  }
  .user-card {
    display: table;
    dl {
      display: table-row;
      dt, dd {
        display: table-cell;
        vertical-align: baseline;
      }
      dt {
        padding-right: 0.3rem;
        text-align: right;
      }
    }
    dt::after {
      content: ": ";
    }
    dd dl {
      display: table;
      margin-top: 0.7rem;
      > div {
        display: table-row-group;
      }
    }
  }
}
.paginator-link {
  display: inline-block;
  padding: 0.5rem;
}
.paginator-link {
  display: inline-block;
  padding: 0.5rem;
  &.active {
    font-weight: bold;
  }
}
