.users-container {
  display: table;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  .users-list, .users-captions, .users-search {
    display: table-row;
    & > * {
      display: table-cell;
      padding: 0.2rem 0.3rem;
      vertical-align: baseline;
      border: 1px solid #cccccc;
      input {
        box-sizing: border-box;
        width: 100%;
      }
    }
  }
  & > div > div {
    > span, > a.active {
      font-weight: bold;
    }
  }
  & > div > div span::after {
    content: ": ";
  }
  dt {
    display: none;
    text-align: right;
    font-weight: bold;
  }
  dt::after {
    content: ": ";
  }
}
.paginator-link {
  display: inline-block;
  padding: 0.5rem;
}
.paginator-link {
  display: inline-block;
  padding: 0.5rem;
  &.active {
    font-weight: bold;
  }
}
