html, body {
  height: 100%;
}
body {
  position: relative;
  min-height: 100%;
}
#app, .page-container {
  position: relative;
  width: 100%;
  height: 100%;
}
.page-container > * {
  padding: 10px 20px;
  &:first-child {
    padding-top: 20px;
  }
  &:last-child {
    padding-bottom: 20px;
  }
}
